@import '../../common';

.header {
  position: sticky;
  top: 0px;
  z-index: 9999;
  background-color: $page_color;
  @media screen and (max-width: 400px){
    position: static;
  }

  .header__content {
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background-color: $page_color;
    @media screen and (max-width: 450px){
      @include flex_element(column);
      text-align: center;
    }
  }

  .header__options {
    @include flex_element(row);
    justify-content: space-around;

    div {
      margin-left: 5px;
    }
  }

  .header__options button {
    margin: 5px;
    padding: 10px;
    height: 43px;
    @media screen and (max-width: 400px){
      padding: 5px;
    }
  }
}


