@import '../../common';

.user-card {
  flex-direction: column;
  height: 500px;
  background-color: #dbdad8;
  margin: 70px;
  border-radius: 10px;
  padding: 10px;
  max-width: 1000px;

  .user-card__name {
    display: block;
    color: $page_color;
    font-size: 2.0rem;
    padding: 0px;
    margin: 0px;
  }

  .user-card__navbar {
    @include flex_element(row);
    justify-content: space-between;

    button {
      margin-right: 5px;
      padding: 5px;
    }
  }

  .user-card__tickets-area {
    @include flex_element(column);
    background-color: #ffffff;
    border-radius: 10px;
    height: 80%;
    margin-top: 10px;
  }
}





