@import '../common';

.sign-overlay {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  opacity: 1;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: $page_color;
  color: #ffffff;
  border-radius: 50%;
  padding: 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}

.sign-page {
  @include flex_element(column);
  align-items: center;
  justify-content: center;
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  width: 80%;
  position: relative;
  font-size: 1.5rem;

  .sign-page__form {
    @include flex_element(column);
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
      background-color: $page_color;
      padding: 20px;
    }

    button:hover {
      background-color: $page_color;
      color: #ffffff;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.2);
    }
  }

  .sign-page__title {
    color: $page_color;
    font-size: 2.0rem;
  }

  input {
    background-color: #eeebee;
    margin: 20px;
    width: 80%;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.2);
  }
}