@import '../../common';

.sign-overlay {
  position: fixed;
  overflow: auto;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  opacity: 1;
}

.container {
  width: 100%;
  @include flex_element(column);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
}

.change-mode {
  border-top: #000000 1px dashed;
  margin-top: 5px;
  width: 100%;

  h6 {
    margin: 10px;
    font-size: 1.2rem;
  }
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: $page_color;
  color: #ffffff;
  border-radius: 50%;
  padding: 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  outline: none;
  font-size: 2rem;
}


.sign-page {
  @include flex_element(column);

  .sign-page__form {
    @include flex_element(column);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    @media screen and (max-width: 1900px){
      margin-bottom: 10px;
    }

    button {
      background-color: $page_color;
      padding: 15px;
      font-size: 1.6rem;
    }

    button:hover {
      background-color: $page_color;
      color: #ffffff;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.2);
    }

    input {
      background-color: #dfdbdf;
      margin: 15px;
      width: 80%;
      box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.2);
      font-size: 1.6rem;
    }

  }

  .sign-page__title {
    color: $page_color;
    font-size: 2.5rem;
  }

}
