@import '../../common';
@import '../../include-media';

.footer {
  flex: 0 0 auto;
  background-color: $page_color;

  .footer__content {
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    @include media("<=large-phone"){
      @include flex_element(column);
      text-align: center;
    }
  }

  .footer__social {
    @include flex_element(row);

    button {
      margin: 5px;
    }
  }
}
