@import '../../common';
@import '../../include-media';

.user-card {
  flex-direction: column;
  align-self: center;
  flex: 0px 0px 1200px;
  width: 100%;
  min-height: 500px;
  background-color: #dbdad8;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  max-width: 1000px;
  font-size: 1.6rem;

  &__name {
    display: block;
    color: $page_color;
    font-size: 2.0rem;
    padding: 0px;
    margin: 0px;
  }

  &__navbar {
    @include flex_element(row);
    justify-content: space-between;

    button {
      margin-right: 5px;
      padding: 5px;
    }
  }

  &__tickets-area {
    @include flex_element(column);
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
  }

  .ip-table {
    align-self: center;
    width: 60%;
    margin: 10px;
    border: 1px solid $page_color;
    @include media("<=tablet"){
      width: 100%;
    }

    td {
      border: 1px solid  #dbdad8;
      text-align: center;
    }

    th {
      border: 1px solid  #dbdad8;
      background-color: $page_color;
      color: #ffffff;
    }

    tr:nth-child(even) {background-color: #f0dbed;}
  }
}





