@import '../../common';
@import '../../include-media';

.addticket-area {
  @include flex_element(column);
  flex: 0px 0px 1200px;
  align-self: center;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.6rem;
  @include media("<=phone"){
    align-items: center;
  }

  h3 {
    color: $page_color;
    font-size: 2.8rem;
    @include media("<=large-phone"){
      align-self: center;
    }
  }

  & > button {
    max-width: 200px;
    padding: 10px;
    align-self: flex-end;
  }
}

.list-container {
  @include flex_element(row);
  @include media("<=phone"){
    @include flex_element(column);
    width: 100%;
  }

  &__list {
    width: 50%;
    height: 150px;
    overflow-y: scroll;
    padding: 10px;
    margin: 10px;
    background-color: #d3d2d3;
    border: 1px solid $page_color;
    @include media("<=phone"){
      width: 100%;
    }

    p {
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
  }
}
