@import '../../common';
@import '../../include-media';

.basket-container {
  @include flex_element(column);
  justify-content: right;
  width: 100%;
  padding: 10px;

  & > button {
    position: sticky;
    z-index: 9999999999;
    top: 60px;
    align-self: flex-end;
    max-width: 200px;
    margin-right: 10px;
    padding: 10px;
    background-color: #008000;
    @include media("<=phone"){
      top: 10px;
    }

    &:hover {
      background-color: #024602;
      color: #ffffff;
    }
  }
}
