@import '../../../common';

.select {
  padding: 0px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  appearance: none;
  outline: none;
  font-size: 1.6rem;
  @media screen and (max-width: 500px){
    padding: 10px;
  }

  option {
    padding: 10px;
  }
}
