@import '../../common';

.main-image-block {
  @include flex_element(column);
  flex: 0px 0px 1200px;
  position: relative;
  align-self: center;
  align-content: center;
  justify-content: center;


  .main-image-block__image {
    object-fit: cover;
  }

  .main-image-block__overlay {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    text-align: center;
    @media screen and (max-width: 1120px){
      top: 30%;
    }
    @media screen and (max-width: 400px){
      top: 30%;
    }
    h1 {
      color: #ffffff;
      font-size: 2.6rem;
    }
  }
}
