@import '../../../common';
@import '../../../include-media';

.select-wrapper {
  height: 70px;
  overflow: auto;
}

.select {
  padding: 0px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  appearance: none;
  outline: none;
  font-size: 1.6rem;
  @include media("<=large-phone") {
    padding: 10px;
  }

  option {
    padding: 10px;
  }
}
