@import '../../common';
@import '../../include-media';

html,
body {
  font-size: 62.5%;
}

#app {
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  @include flex_element(column);
  height: 100%;
}

.content {
  flex: 1 0 auto;
  background-color: $page_base_color;
}

.site-name {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3rem;
}

.base-title {
  margin: 0px;
  padding: 0px;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  font-size: 1.2rem;
}

.react-datepicker__current-month, .react-datepicker-time__header {
  font-size: 1.2rem;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(195px + (1.7rem / 2));
  overflow-y: scroll;
  box-sizing: content-box;
  padding-left: 0px;
}

.selected {
  button {
    background-color: #be6c53;
  }
}

.sign-modal {
  position: relative;
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  width: 80%;
  font-size: 1.6rem;
  background: #ffffff;
  @include media("<=laptop") {
    padding: 10px;
  }
}

.overlay {
  position: fixed;
  z-index: 999999999999;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

/**/
.error {
  color: #ff0000;
  font-size: 3rem;
}

.success {
  color: #05b305;
  font-size: 3rem;
}

.popup {
  display: none;
}

.popup--error {
  display: none;
}

.popup--visible {
  display: block;
}

.popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000000000000;
    overflow: auto;
    background: rgba(0, 0, 0, .1);
}

.popup__close {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-radius: 10px;
    border: none;
    text-indent: -9999px;
    background: transparent;
    background-size: 100%;
    margin: 0;
}

.popup__box {
    width: 350px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -175px;
    background: rgb(190, 122, 122);
    box-shadow: 0px 5px 20px 0px rgba(126,137,140,0.20);
    border-radius: 5px;
    border: 1px solid #B8C8CC;
    overflow: hidden;
    z-index: 1001;
}

.popup__box__header {
    padding: 15px 20px;
    background: $page_color;
    color: #454B4D;
}


.popup__box__header {
  padding: 15px 20px;
  background: $page_color;
  color: #454B4D;
}

    .popup__box__header__title {
        margin: 0;
        font-size: 16px;
        text-align: left;
        font-weight: 600;
    }

.popup__box__body {
    padding: 20px;
    line-height: 1.4;
    font-size: 14px;
    color: #454B4D;
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
}

    .popup__box__body p {
        margin: 0 0 5px;
    }

.popup__box--popover {
width: 300px;
margin-left: -150px;
}

.popup__box--popover .popup__close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-radius: 10px;
    border: none;
    text-indent: -9999px;
    background: transparent;
    background-size: 100%;
    margin: 0;
    z-index: 3;
}

.popup__box--popover .popup__box__body {
    padding: 20px;
}

@media (max-width: 420px) {
    .popup__box {
        width: auto;
        left: 10px;
        right: 10px;
        top: 10px;
        margin-left: 0;
    }
}

