@import '../../common';

.ticket {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "title price"
    "company category"
    "description count"
    "time add";
  background-color: #dddfdf;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;

  h2, h3 {
    margin: 0;
    padding: 0;
  }
}

.ticket__title {
  background-color: #b8cdf0;
  grid-area: title;
  margin: 0;
  padding-left: 5px;
}

.category {
  grid-area: category;
  padding-left: 10px;
  border-left: #000000 3px solid;
}

.ticket__company {
  grid-area: company;
  background-color: #d9eecd;
  margin: 0;
  padding: 5px;
}

.ticket__price {
  grid-area: price;
  border-left: #000000 3px solid;
  padding-left: 10px;
  align-items: baseline;
}

.ticket__time {
  grid-area: time;
  background-color: #e4bfae;
}

.ticket__add-button-area {
  grid-area: add;
  border-left: #000000 3px solid;
  padding-left: 10px;

  button {
    padding: 10px;
  }
}

.ticket__count {
  grid-area: count;
  border-left: #000000 3px solid;
  padding-left: 10px;
}

.ticket__description {
  grid-area: description;
  background-color: #e8f0ba;
}

.ticket-field {
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  background-color: #ffffff;
}

.actual-count-block {
  display: inline-block;
  margin: 0;
  padding: 0;

  &::before {
    content: '/ ';
  }
}