@import '../../common';

.search {
  @include flex_element(row);
  justify-content: center;
  background-color: $page_color;
  margin-bottom: 10px;
  @media screen and (max-width: 900px){
    justify-content: center;
  }
  @media screen and (max-width: 400px){
    display: none;
  }
}

.ticket-area {
  @include flex_element(column);
}

.button-set {
  align-self: flex-end;
  margin-right: 10px;

  div {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
    background-color: $button_color;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.central {
  align-self: center;
  margin-bottom: 10px;  
}

