@import '../../common';

.search {
  @include flex_element(row);
  justify-content: center;
  background-color: $page_color;
  padding-top: 50px;
  margin-bottom: 10px;
  @media screen and (max-width: 900px){
    justify-content: center;
  }
  @media screen and (max-width: 400px){
    display: none;
  }
}

.ticket-area {
  @include flex_element(column);
  
}

.ticket {
  background-color: #dddfdf;
  min-height: 100px;
  margin: 10px;
  border-radius: 10px;
}