@import '../../common';

.search {
  @include flex_element(row);
  justify-content: center;
  background-color: $page_color;
  margin-bottom: 10px;
  @media screen and (max-width: 900px){
    justify-content: center;
  }
  @media screen and (max-width: 400px){
    display: none;
  }
}

.ticket-area {
  @include flex_element(column);
}

.button-set {
  align-self: flex-end;

  button {
    margin: 5px;
  }
}

.button-set_central {
  align-self: center;
}

