@import '../../common';

.addticket-area {
  @include flex_element(column);
  flex: 0px 0px 1200px;
  align-self: center;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
  padding: 10px;
  @media screen and (max-width: 400px) {
    align-items: center;
  }

  h3 {
    color: $page_color;
    font-size: 1.8rem;
    @media screen and (max-width: 500px) {
      align-self: center;
    }
  }

  button {
    max-width: 200px;
    padding: 10px;
    align-self: flex-end;
  }
}

.info-area {
  align-self: center;
  width: 100%;
  background-color: #e2e1de;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  max-width: 900px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "from to"
    "time date"
    "class company"
    "desc desc"
    "count .";
    @media screen and (max-width: 400px){
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto auto auto auto;
      grid-template-areas:
        "from"
        "to"
        "time"
        "date"
        "class"
        "company"
        "desc"
        "count";
    }

  .title {
    grid-area: title;
    background-color: #e2e1de;
  }

  .description {
    grid-area: desc;
    background-color: bisque;

    textarea {
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      font-size: 1.8rem;
    }
  }


  input {
    width: 100%;
  }

  .datepicker {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    width: 100%;
    margin: 0px;
  }

  .react-datepicker-wrapper {
    width: 100%;

    .react-datepicker__input-container {
      width: 100%;
    }
  }

  select {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;

    option {
      padding: 10px;
    }
  }

  & > div {
    margin: 5px;
  }

}
