@import '../../common';

.addticket-area {
  @include flex_element(column);
  flex: 0px 0px 1200px;
  align-self: center;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.6rem;
  @media screen and (max-width: 400px) {
    align-items: center;
  }

  h3 {
    color: $page_color;
    font-size: 2.8rem;
    @media screen and (max-width: 500px) {
      align-self: center;
    }
  }

  & > button {
    max-width: 200px;
    padding: 10px;
    align-self: flex-end;
  }
}

.info-area {
  @include flex_element(column);
  align-self: center;
  width: 100%;
  background-color: #e2e1de;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  max-width: 900px;

  & > div {
    @include flex_element(row);
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
    @media screen and (max-width: 400px) {
      @include flex_element(column);
    }
  }

  input {
    width: 49%;
    @media screen and (max-width: 400px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .datepicker {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    width: 100%;
    margin: 0px;
  }

  .date-time {
    & > div {
      width: 49%;
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__input-container {
    width: 100%;
  }

  select {
    width: 49%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    @media screen and (max-width: 400px) {
      width: 100%;
      margin-bottom: 10px;
    }

    option {
      padding: 10px;
    }
  }

}
