@import '../../common.scss';

.search-bar{
  @include flex_element(row);
  padding: 30px;
  @media screen and (max-width: 1120px){
    @include flex_element(column);
  }

  & > div {
    @include flex_element(row);
    @media screen and (max-width: 500px){
      @include flex_element(column);
    }
  }

  input {
    margin-right: 10px;
    @media screen and (max-width: 1120px){
      margin: 5px;
    }
  }

  select {
    margin-right: 10px;
    @media screen and (max-width: 1120px){
      margin: 5px;
      width: 100%;
    }
    @media screen and (max-width: 500px){
      margin: 5px;
      width: auto;
    }
  }

  .search-bar__button {
    align-self: center;
    @media screen and (max-width: 1120px){
      margin: 5px;
    }

    button {
      align-self: center;
      padding: 10px;
      width: 100%;
      @media screen and (max-width: 1120px){
        width: 100%;
      }
    }

  }

}

