@import '../../common.scss';
@import '../../include-media';

.search-bar{
  @include flex_element(row);
  padding: 30px;
  @include media("<=small-laptop"){
    @include flex_element(column);
  }

  & > div {
    @include flex_element(row);
    @include media("<=large-phone"){
      @include flex_element(column);
    }
  }

  input {
    margin-right: 10px;
    @include media("<=small-laptop"){
      margin: 5px;
    }
  }

  select {
    margin-right: 10px;
    @include media("<=small-laptop"){
      margin: 5px;
      width: 100%;
    }
    @include media("<=large-phone"){
      margin: 5px;
      width: auto;
    }
  }

  .search-bar__button {
    align-self: center;
    @include media("<=small-laptop"){
      margin: 5px;
    }

    button {
      align-self: center;
      padding: 10px;
      width: 100%;
      @include media("<=small-laptop"){
        width: 100%;
      }
    }

  }

  .datepic {
    padding: 15px 10px;
  }
}

