@import '../../common';

#app {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.header {
  /*position: fixed;
  z-index: 9999;*/
  background-color: $page_color;
  @media screen and (max-width: 400px){
    position: static;
  }

  .header__content {
    justify-content: space-between;
    background-color: $page_color;
    padding: 10px;
    box-sizing: border-box;
    @media screen and (max-width: 400px){
      @include flex_element(column);
      text-align: center;
    }
  }

  .header__options {
    @include flex_element(row);
    justify-content: space-around;
    
    div {
      margin-left: 5px;
    }
  }

  .header__options button {
    margin: 5px;
    padding: 10px;
  }
}

.container-flex {
  @include flex_element(column);
  width: 100%;
  /*background-color: #b74ce9;*/
}

.content-flex {
  @include flex_element(row);
  align-self: center;
  flex: 0px 0px 1200px;
  width: 100%;
  max-width: 900px;
}

.base-title {
  margin: 0px;
  padding: 0px;
}

.site-name {
  text-transform: uppercase;
  color: #ffffff;
}

.image {
	position: relative;
  /*width: 100%;*/
  @include flex_element(row);
  align-self: center;
  justify-content: center;
  flex: 0px 0px 1200px;
}

.main-image {
  width: 100%;
  object-fit: cover;
}

.overlay {
	position: absolute;
  top: 25%;
  border-radius: 5px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  text-align: center;
  @media screen and (max-width: 400px){
    top: 10%;
  }
  h1 {
    color: #ffffff;
  }
}

.search-bar {
  @include flex_element(column);
  justify-content: center;
  max-width: 900px;
  padding: 30px;
  @media screen and (max-width: 800px){
    width: 100%;
    justify-content: center;
  }

  .search-bar__input-area {
    @include flex_element(row);
    margin-bottom: 30px;
    @media screen and (max-width: 800px){
      @include flex_element(column);
      justify-content: center;
    }

    input {
      margin: 10px;
      @media screen and (max-width: 800px){
        width: 80%;
      }
    }

  }

  button {
    width: 200px;
    align-self: center;
    padding: 10px;
  }
}





/*******************/
.imgblocks-container {
  @include flex_element(row);
  justify-content: space-between;
  margin-bottom: 20px;
  @media screen and (max-width: 900px){
    @include flex_element(column);
    margin-bottom: 0px;
  }
}

.top-container {
  @include flex_element(column);
  margin: 20px;

}

.textimage-block {
  width: 45%;
  height: 200px;
  background-color: #faebd7;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.1);
  @media screen and (max-width: 900px){
    width: 90%;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px;
  }
}
/***************************/

.footer {
  background-color: $page_color;
  flex: 0 0 auto;

  .footer__content {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    @media screen and (max-width: 500px){
      @include flex_element(column);
      text-align: center;
    }
  }

  .footer__social {
    @include flex_element(row);

    div {
      margin: 5px;
    }
  }
}
