@import '../../common';

.container-flex {
  @include flex_element(column);
  width: 100%;
}

.content-flex {
  @include flex_element(row);
  align-self: center;
  flex: 0px 0px 1200px;
  width: 100%;
  max-width: 900px;
}

.image {
	position: relative;
  @include flex_element(row);
  align-self: center;
  justify-content: center;
  flex: 0px 0px 1200px;
}

.main-image {
  width: 100%;
  object-fit: cover;
}

.overlay {
	position: absolute;
  top: 25%;
  border-radius: 5px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  text-align: center;
  @media screen and (max-width: 1120px){
    top: 10%;
  }
  @media screen and (max-width: 400px){
    top: 10%;
  }
  h1 {
    color: #ffffff;
  }
}
/*****/
.search-bar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  padding: 30px;
  grid-template-areas:
    "field1 field2 field3 field4 button";
  @media screen and (max-width: 1120px){
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "field1 field2"
    "field3 field4"
    "button button";
  }
  @media screen and (max-width: 500px){
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "field1"
    "field2"
    "field3"
    "field4"
    "button";
  }

  input {
    margin-right: 10px;
    @media screen and (max-width: 1120px){
      margin: 5px;
    }
  }

  button {
    align-self: center;
    padding: 10px;
    @media screen and (max-width: 1120px){
      width: 100%;
    }
  }

  .search-bar__button {
    grid-area: button;

    @media screen and (max-width: 1120px){
      margin: 5px;
    }
  }
}
/****
.search-bar {
  @include flex_element(row);
  justify-content: center;
  max-width: 900px;
  padding: 30px;
  @media screen and (max-width: 900px){
    @include flex_element(column);
    width: 100%;
    justify-content: center;
  }

  input {
    margin-right: 10px;
    @media screen and (max-width: 900px){
      margin-right: 0px;
      margin-bottom: 5px;
    }
  }

  button {
    width: 200px;
    align-self: center;
    padding: 10px;
    @media screen and (max-width: 900px){
      width: 100%;
    }
  }
}*/

/*******************/

.textimage-block {
  width: 100%;
  height: 200px;
  background-color: #faebd7;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.1);
  @media screen and (max-width: 900px){
    width: 100%;
  }

  &:hover {
    transform: scale(1.05);

  }

  img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;


  }
}


.imageset-box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  @media screen and (max-width: 400px){
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .imageste-box__item {
    width: 100%;
    padding: 10px;
  }
}

/***************************/
