@import '../../common';

.container-flex {
  @include flex_element(column);
  width: 100%;
  background-color: $page_base_color;
}

.content-flex {
  @include flex_element(row);
  flex: 0px 0px 1200px;
  align-self: center;
  width: 100%;
  max-width: 900px;
}

.content-flex-column {
  @include flex_element(column);
  flex: 0px 0px 1200px;
  align-self: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 5px;
  font-size: 1.6rem;

  h1 {
    color: $page_color;
    align-self: center;
    text-align: center;
    font-size: 2.6rem;
  }
}


.imageset-box {
  @include flex_element(column);
  width: 100%;


  & > div {
    @include flex_element(row);
    width: 100%;
    @media screen and (max-width: 600px) {
      @include flex_element(column);
    }
  }

  .imageste-box__item {
    width: 100%;
    padding: 10px;
  }

}

