@import '../../common';

html,
body {
  font-size: 62.5%;
}

#app {
  height: 100%;
}

.wrapper {
  @include flex_element(column);
  height: 100%;
}

.content {
  flex: 1 0 auto;
  background-color: $page_base_color;
}

.site-name {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3rem;
}

.base-title {
  margin: 0px;
  padding: 0px;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  font-size: 1.2rem;
}

.react-datepicker__current-month, .react-datepicker-time__header {
  font-size: 1.2rem;
}

