@import '../../common';
#app {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.site-name {
  text-transform: uppercase;
  color: #ffffff;
}

.base-title {
  margin: 0px;
  padding: 0px;
}

.header {
  /*position: fixed;
  z-index: 9999;*/
  background-color: $page_color;
  @media screen and (max-width: 400px){
    position: static;
  }

  .header__content {
    justify-content: space-between;
    background-color: $page_color;
    padding: 10px;
    box-sizing: border-box;
    @media screen and (max-width: 400px){
      @include flex_element(column);
      text-align: center;
    }
  }

  .header__options {
    @include flex_element(row);
    justify-content: space-around;
    
    div {
      margin-left: 5px;
    }
  }

  .header__options button {
    margin: 5px;
    padding: 10px;
  }
}

.footer {
  background-color: $page_color;
  flex: 0 0 auto;

  .footer__content {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    @media screen and (max-width: 500px){
      @include flex_element(column);
      text-align: center;
    }
  }

  .footer__social {
    @include flex_element(row);

    div {
      margin: 5px;
    }
  }
}