@import '../../common';

html,
body {
  font-size: 62.5%;
}

#app {
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  @include flex_element(column);
  height: 100%;
}

.content {
  flex: 1 0 auto;
  background-color: $page_base_color;
}

.site-name {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3rem;
}

.base-title {
  margin: 0px;
  padding: 0px;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  font-size: 1.2rem;
}

.react-datepicker__current-month, .react-datepicker-time__header {
  font-size: 1.2rem;
}

.selected {
  button {
    background-color: #be6c53;
  }
}

.modal {
  position: relative;
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  width: 80%;
  font-size: 1.6rem;
  background: #ffffff;
  @media screen and (max-width: 1900px){
    padding: 10px;
  }
}

.overlay {
  position: fixed;
  z-index: 999999999999;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

