@import '../../common';

#app {
  height: 100%;
}

.wrapper {
  @include flex_element(column);
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.site-name {
  text-transform: uppercase;
  color: #ffffff;
}

.base-title {
  margin: 0px;
  padding: 0px;
}

