@import '../../common';
@import '../../include-media';

.ticket {
  @include flex_element(row);
  background-color: #dddfdf;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.6rem;
  @include media("<=small-tablet"){
    @include flex_element(column);
  }

  & > div {
    align-items: stretch;
    width: 50%;
    border: $page_color 3px solid;
    @include media("<=small-tablet"){
      width: 100%;
    }
  }

  &__title {
    background-color: #b8cdf0;
    margin: 0px;
    padding-left: 5px;
    font-weight: bold;
  }
  
  &__company {
    background-color: #d9eecd;
    margin: 0;
    padding: 5px;
  }
  
  &__price {
    padding-left: 10px;
    align-items: baseline;
  }
  
  &__date {
    padding-left: 5px;
    background-color: #e8f0ba;
  }
  
  &__category {
    padding-left: 10px;
  }
  
  &__time {
    padding-left: 5px;
    background-color: #e4bfae;
  }
  
  .ticket-field {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    outline: none;
    background-color: #ffffff;
  }
  
  &__count {
    @include flex_element(row);
    align-items: center;
    padding-left: 10px;
  
    div {
      display: table;
    }
  }
  
  .actual-count-block {
    display: inline-block;
    margin: 0;
    padding: 0;
  
    &::before {
      content: '/ ';
    }
  }
  
  &__add-button-area {
    padding-left: 15px;
    text-align: right;
  
    button {
      padding: 10px;
      margin: 10px;
    }
  }
  
}

